  <div ng-app="app">
  <div ng-controller="showsCtrl" ng-init="setup()">
  <div>
    Add Show:
    <div>
      Date & time: <input ng-model="newDatetime">
    </div>
    <div>
      Artist name: <input ng-model="newArtist">
    </div>
    <div>
      Venue: <input ng-model="newVenue">
    </div>
    <div>
      City: <input ng-model="newCity">
    </div>
    <div>
      Region: <input ng-model="newRegion">
    </div>
    <div>
      Country: <input ng-model="newCountry">
    </div>

    <button ng-click="addShow(newDatetime, newArtist, newVenue, newCity, newRegion, newCountry)">Add Show</button>
  </div>

  <div>
    Total Number of Sheoows: {{shows.length}}
  </div>
  <button ng-click="toggleOrder('artsist')">Sort by Artist</button>
  <button ng-click="toggleOrder('datetime')">Sort By DateTime</button>

  <datalist id="artsistss">
    <option ng-repeat="show in showsSearchResults">{{show.artsists}}</option>
  </datalist>

  <input ng-model="artistFilter" list="artsistss" ng-keyup="SearchViaDB('artsists', artistFilter)">

  <div ng-repeat="show in shows | filter: {artsists: artistFilter} | orderBy:orderAttribute:reverse">
    <p>{{show.datetime}}</p>
    <p>{{show.artsists}}</p>
    <p>{{show.venue}}</p>    
    <p>{{show.city}}</p>
    <p>{{show.region}}</p>
    <p>{{show.country}}</p>
      <a href="#" ng-click="deleteShow(show)">Delete</a>
   </div>

  
  </div>
</div>